<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Advox_Employees::advox" title="Advox" module="Advox_Employees" sortOrder="51" resource="Advox_Employees::content"/>
        <add id="Advox_Employees::employee_listing" title="Employee listing" module="Advox_Employees" sortOrder="10" action="advox_employees/listing" resource="Advox_Employees::advox_employee_listing" parent="Advox_Employees::advox"/>
    </menu>
</config>